/* fastapi.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
}

.container {
    display: flex;
}

.topics {
    width: 20%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    overflow-y: auto;
    position: fixed;
    height: 100%;
}

.topics h2 {
    border-bottom: 2px solid #fff;
}

.topics ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.topics li {
    margin-bottom: 10px;
}

.topics a {
    color: #fff;
    text-decoration: none;
}

.topics a:hover {
    text-decoration: underline;
}

main {
    width: 80%;
    padding: 20px;
    overflow-y: auto;
    padding-left: 25%; /* Add padding to the left side */
}

h1, h2, h3 {
    color: #333;
}

p {
    line-height: 1.6;
}

.code-section {
    margin-top: 20px;
}

.code-box {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

code {
    display: block;
    white-space: pre;
    overflow-x: auto;
    text-align: left !important;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

/* Additional styles for left-align */
code.left-align {
    display: block;
    white-space: pre;
    text-align: left !important;
    margin: 0;
}
